* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  height: 100%;
  width: 100%;
  position: absolute; }

body {
  background: linear-gradient(0deg, #000000, #145050);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-attachment: fixed; }

header {
  position: fixed;
  top: 0;
  z-index: 2;
  height: 100px;
  width: 100%;
  box-shadow: 0 0 90px -13px #ce32e9;
  background: #222222;
  display: flex;
  align-items: center;
  justify-content: center; }
  header #topLogo {
    position: fixed;
    height: 80px;
    top: 10px;
    right: 90%;
    z-index: 3; }

form {
  position: fixed;
  top: 125px;
  left: 15px;
  min-width: 100px;
  max-width: 150px; }

label {
  opacity: 0;
  font-size: 2em; }

input#movieSearch {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  width: 100%;
  background: transparent;
  border: 2px solid #248f8f;
  border-radius: 3px; }

h1 {
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
  font-size: 300%;
  color: white; }

button.deleteRating {
  color: white;
  font-family: 'Quicksand', sans-serif;
  border: 2px solid #248f8f;
  background-color: transparent; }

p.currentRating {
  color: white;
  font-family: 'Quicksand', sans-serif;
  border: 2px solid #248f8f;
  border-radius: 3px;
  background-color: transparent; }

div.movieTitle {
  font-family: 'Quicksand', sans-serif; }

.container {
  height: 80%;
  width: 100%;
  top: 5%;
  display: flex;
  position: relative; }
  .container main {
    margin-left: 19%;
    width: 64%;
    height: 100%;
    display: flex;
    justify-content: center; }
    .container main .topTwentyBox {
      display: flex;
      flex-wrap: wrap;
      width: 150%; }
      .container main .topTwentyBox .topTwenty {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 140px;
        height: 240px;
        margin: 10px;
        padding: 10px; }
        .container main .topTwentyBox .topTwenty img {
          width: 130px; }
        .container main .topTwentyBox .topTwenty p {
          text-align: center;
          font-family: 'Quicksand', sans-serif;
          color: white; }
    .container main .poster {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 50%;
      position: relative;
      top: 43px;
      height: 50%; }
    .container main .movieInfoBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 90%;
      width: 50%;
      background: transparent;
      position: relative;
      top: -2.1%;
      color: white; }
      .container main .movieInfoBox .movieTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: 20%; }
      .container main .movieInfoBox .movieInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
        text-align: justify;
        width: 85%;
        height: 70%; }
        .container main .movieInfoBox .movieInfo .ratings {
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 10%;
          width: 100%;
          background: red; }
  .container aside {
    height: 100%; }
    .container aside.left {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 100px;
      left: 0; }
      .container aside.left input {
        color: white;
        width: 90%;
        background: #222222;
        font-family: sans; }
    .container aside.right {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 100px;
      right: 0; }
      .container aside.right button {
        right: 15px;
        margin: 10px 0;
        min-width: 140px;
        padding: 10px;
        color: white;
        font-family: 'Quicksand', sans-serif;
        border: 2px solid #248f8f;
        border-radius: 3px;
        background-color: transparent;
        position: relative;
        top: 52px; }

.loginBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, #222222, #248f8f); }
  .loginBackground .loginWindow {
    background: black;
    height: 300px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #248f8f;
    border-radius: 20px;
    box-shadow: 0 0 150px white; }
    .loginBackground .loginWindow label {
      opacity: 1;
      color: #248f8f; }
    .loginBackground .loginWindow input {
      padding: 10px;
      font-size: 20px;
      width: 100%; }
    .loginBackground .loginWindow .loginPrompt {
      color: #248f8f;
      margin-bottom: 20px;
      text-align: center;
      font-family: 'Quicksand', sans-serif; }
    .loginBackground .loginWindow .usernameContainer, .loginBackground .loginWindow .passwordContainer {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      font-family: 'Quicksand', sans-serif; }
    .loginBackground .loginWindow .loginButtons {
      margin-top: 20px;
      width: 70%;
      display: flex;
      justify-content: space-around; }
      .loginBackground .loginWindow .loginButtons .loginBtn {
        width: 40%;
        border-radius: 5px;
        padding: 10px;
        outline-style: none;
        color: white;
        font-family: 'Quicksand', sans-serif;
        border: 2px solid #248f8f;
        background-color: transparent; }
        .loginBackground .loginWindow .loginButtons .loginBtn:hover {
          background: #248f8f; }

/*# sourceMappingURL=main.css.map */
